@model UserJson

@{
    ViewData["Title"] = "Details";
    // 伪造数据, 仅显示看看效果
    //var roles = new List<RoleJson>(); // ViewBag.Roles;
    var roles = ViewBag.Roles as IEnumerable<RoleJson>;
    var userRoles = ViewBag.UserRoles as IEnumerable<UserRole>;
    var org = ViewBag.Organization as Organization ?? new Organization
    {
        Name = "自由组织",
        Description = "自由组织"
    };
}

<h2>Details</h2>
@if (ViewBag.ErrMsg != null)
{
    <div class="err-msg" style="color:red">@ViewBag.ErrMsg?.ToString()</div>
}
<div>
    <h4>UserBaseJson</h4>
    <p>所属组织为【<a id="sign-name" asp-action="Details" asp-controller="Organization" asp-route-id="@org?.Id" title="User Details">@(org?.Name)</a>】</p>
    <hr />
    <p>用户详细信息</p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SignName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SignName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PassWord)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassWord)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    <p>TODO 该用户的角色列表（每个角色旁边有修改角色，删除绑定，角色详情按钮）</p>
    <table class="table" border="1">
        <thead>
            <tr>
                <th>
                    Role Name
                    @*@Html.DisplayNameFor(model => model.Name)*@
                </th>
                <th>
                    Decription
                    @*@Html.DisplayNameFor(model => model.Decription)*@
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userRole in userRoles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => userRole.Role.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => userRole.Role.Decription)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Roles" asp-route-id="@userRole.Role.Id">Edit</a> |
                        <a asp-action="Details" asp-controller="Roles" asp-route-id="@userRole.Role.Id">Details</a> |
                        <a asp-action="Delete" asp-controller="UserRoles" asp-route-id="@userRole.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
