@model IEnumerable<UserJson>
@* 分页查询 *@
@{
    ViewData["Title"] = "Index";
    Console.WriteLine("Sign Name: " + ((UserJson)ViewData["SignUser"]).SignName ?? "");
    var PageBody = ViewBag.PageBody as AuthorizationCenter.Define.PageBody<UserJson>;
    var SignUser = ViewData["SignUser"] as UserJson;
}

<h2>用户管理</h2>
@if (ViewBag.ErrMsg != null)
{
    <div class="err-msg" style="color:red">@ViewBag.ErrMsg?.ToString()</div>
}
<p>
    当前用户登陆用户为【<a id="sign-name" asp-action="Details" asp-route-id="@SignUser?.Id" title="User Details">@(SignUser?.SignName ?? "游客")</a>】
</p>

<p>
    <a asp-action="Create" title="Create New User">新建用户</a>
</p>
@{
    var users = Model;
    // 判断是否登陆
}
<table class="table">
    <thead>
        <tr>
            <th>
                用户名
                @*@Html.DisplayNameFor(models => models.Extension[0].SignName)*@
            </th>
            <th>
                密码
                @*@Html.DisplayNameFor(model => model.PassWord)*@
            </th>
            <th>
                可用操作
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SignName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassWord)
                </td>
                <td>
                    <a asp-action="MultCreate" asp-controller="UserRoles" asp-route-userId="@item.Id" title="Bind Role">绑定角色</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Edit User">编辑用户</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" title="User Details">用户详情</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" title="Delete User">删除用户</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@* 分页跳转 *@
<form asp-action="Index">
    <input id="pageIndex" name="pageIndex" type="number" min="0" value="@PageBody.PageIndex" placeholder="分页索引(0-base)" />
    <input id="pageSize" name="pageSize" type="number" min="1" value="@PageBody.PageSize" placeholder="每页尺寸" />
    <input type="submit" value="跳转" />
    @*<input type="submit" value="下一页" />*@
    <span>
        <a href="/User/Index?pageIndex=0&pageSize=@PageBody.PageSize" title="Head Page">首页</a>
        @if (PageBody.PageIndex != 0)
        {
            <a href="/User/Index?pageIndex=@(PageBody.PageIndex-1)&pageSize=@PageBody.PageSize" title="Previous Page">上一页</a>
        }
        @if (PageBody.PageIndex != PageBody.PageCount - 1)
        {
            <a href="/User/Index?pageIndex=@(PageBody.PageIndex+1)&pageSize=@PageBody.PageSize" title="Next Page">下一页</a>
        }
        <a href="/User/Index?pageIndex=@(PageBody.PageCount-1)&pageSize=@PageBody.PageSize" title="Tail Page">尾页</a>
    </span>
</form>