@model UserRole

@{
    ViewData["Title"] = "Create";
    var Roles = new List<RoleJson>();
    for (int i = 10; i < 15; i++)
    {
        Roles.Add(new RoleJson
        {
            Id = Guid.NewGuid().ToString(),
            Name = (i + 1).ToString(),
            Decription = (i + 1).ToString()
        });
    }
}

<h2>Create</h2>
@if (ViewBag.ErrMsg != null)
{
    <div class="err-msg" style="color:red">@ViewBag.ErrMsg?.ToString()</div>
}
<h4>UserRole</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.SignName" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Role.Name" class="control-label"></label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
            </div>
            @*<div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                角色名称
                            </th>
                            <th>
                                角色描述
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Roles)
                        {
                            <tr>
                                <td>
                                    @Html.CheckBox("CheckItems", new { id=item.Id, name =item.Name, value = item.Id })
                                    <input id="@item.Id" value="@item.Id" name="roleIds" class="checkblogCatalog" type="checkbox" />
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Decription)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
