@model UserJson

@{
    ViewData["Title"] = "MultCreate";
    var temp = new List<RoleJson>();
    for (int i = 10; i < 15; i++)
    {
        temp.Add(new RoleJson
        {
            Id = Guid.NewGuid().ToString(),
            Name = "temp_"+(i + 1).ToString(),
            Decription = (i + 1).ToString()
        });
    }
    var Roles = ViewBag.Roles as IEnumerable<RoleJson> ?? temp;
    var RoleCheckBoxs = new List<CheckBox<RoleJson>>
    {
        new CheckBox<RoleJson>
        {
            Data = new RoleJson
            {
                Id = Guid.NewGuid().ToString(),
                Name = "R01"
            },
            IsChecked =true
        },
        new CheckBox<RoleJson>
        {
            Data = new RoleJson
            {
                Id = Guid.NewGuid().ToString(),
                Name = "R02"
            },
            IsChecked =false
        }
    };
}

<h2>MultCreate</h2>
@if (ViewBag.ErrMsg != null)
{
    <div class="err-msg" style="color:red">@ViewBag.ErrMsg?.ToString()</div>
}
<h4>UserRole</h4>
<hr />
<div class="row">
    <div>
        @* class="col-md-4" *@
        <form asp-action="MultCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="SignName" class="control-label"></label>
                <input asp-for="SignName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <p>登陆用户所有可见角色</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                角色名称
                            </th>
                            <th>
                                角色描述
                            </th>
                            <th>
                                可用操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Roles)
                        {
                            <tr>
                                <td>
                                    <input id="@item.Id" value="@item.Id" name="roleIds" class="checkblogCatalog" type="checkbox" />
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Decription)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <p>登陆用户所有可见角色(刷新模式)</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                角色名称
                            </th>
                            <th>
                                角色描述
                            </th>
                            <th>
                                可用操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in RoleCheckBoxs)
                        {
                            <tr>
                                <td>
                                    <input id="@item.Data.Id" value="@item.IsChecked" name="roleIds" class="checkblogCatalog" type="checkbox" />
                                    @Html.DisplayFor(modelItem => item.Data.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Data.Decription)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Data.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Data.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Data.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
